@use "_global" as *;
@use "_mixin" as *;

// Sections are visable when the Show Button is clicked

.project {
  &__header {
    &__title {
      padding-top: 60px;
      text-align: center;
      text-shadow: 0px 0px 5px var(--black);
      //background-color: var(--bgFilterDrk);
      letter-spacing: 2px;
      color: white;
      font-size: calc(1vw + 1em);
      margin-bottom: 5px;
      h5 {
        font-size: 12px;
        span {
          color: var(--themeTxtClr);
          text-shadow: none;
          font-size: 16px;
        }
      }
    }
    &__body {
      width: 95%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: space-evenly;
      padding-top: 15px;
      //background-color: var(--bgFilter);
      article {
        width: 275px;
        margin: auto;
        border: 1px solid var(--black);
        padding: 0.25rem;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        color: Var(--black);
        background-color: var(--bgFilterTheme);
        border-radius: 0.5rem;
        h3{
          color: orangered;
        }
        span {
          color: orangered;
          font-weight: 900;
          //text-shadow: 0px 0px 4px var(--black);
        }
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    background-color: var(--bgFilterBlkDrk);
    margin: auto;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.25rem 0.15rem;

    a {
      text-decoration: none;
    }
    h5 {
      line-height: 1.5;
      font-size: 12px;
      letter-spacing: 1px;
      span {
        color: orangered;
        text-shadow: none;
      }
    }
  }
  .rating {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    gap: 5px;
    max-width: 95%;
    margin: auto;
    align-items: center;
    padding: 1em 0.5em;
    background-color: var(--bgFilterBlkDrk);
    border-radius: 0.5rem 0.5rem 0 0;
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 145px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      //text-shadow: 0px 0px 1px var(--white);
      font-size: 14px;
      h5 {
        font-size: 14px;
        color: var(--white);
      }
    }
  }
}
.wrapper {
  // Wrapper contains the Project box
  max-width: 90%;
  margin: auto;
  //background-color: var(--bgFilterDrk);
}

@media (min-width: 310px) {
}
@media (min-width: 400px) {
  
}
@media (min-width: 481px) {
  .project {
    background-size: cover;
    &__header {
      &__body {
        padding-bottom: 15px;
      }
    }
    
  }
}

@media (min-width: 700px) {
  .project {
    background-size: cover;
    &__header {
      &__body {
        padding-bottom: 15px;
      }

    }
    .rating {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 10px;
      &__box {
        width: 140px;
      }
    }
    .links {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
