@use "_global" as *;
@use "_mixin" as *;

.featureHeader {
  @include darkMode;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding: 1em 0;
  width: 95%;
  max-width: 600px;
  border-radius: 1rem;
  background-image: linear-gradient(
    to left top,
    var(--secondaryTxt),
    var(--secondaryClr)
  );
  //border: 2px solid var(--jsThemeClr);
  //background-image: url("img/backgrounds/header_background_2.png");
  background-size: cover;
  background-color: var(--themeBlk);
  margin-bottom: 50px;
  .author {
    font-family: "The Nautigal";
    color: var(--white);
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 3px;
    //padding: .25em;
    text-shadow: 0px 0px 3px var(--black);
  }
  h2 {
    text-shadow: 0px 0px 5px var(--black);
    font-size: 1.75em;
    font-weight: 900;
    color: var(--secondaryTxt);
    letter-spacing: 4px;
  }
}

// Chapter contains all related projects
.chapter {
  //padding-bottom: 20px;
  min-height: 350px;
  border-top: 3px solid var(--themeBdr);
  // Chapter Header is visable at all times
  &__header {
    &__title {
      padding-top: 60px;
      text-align: center;
      text-shadow: 0px 0px 5px var(--black);
      //background-color: var(--bgFilterDrk);
      letter-spacing: 2px;
      color: white;
      h2 {
        font-size: calc(2vw + 1.5rem);
        margin-bottom: 5px;
      }
      h5 {
        font-size: 12px;
        span {
          color: var(--themeTxtClr);
          text-shadow: none;
          font-size: 16px;
        }
      }
    }
    &__body {
      width: 95%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: space-evenly;
      padding-top: 15px;
      //background-color: var(--bgFilter);
      article {
        width: 275px;
        margin: auto;
        border: 1px solid yellow;
        padding: 0.25rem;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        color: Var(--white);
        background-color: var(--bgFilterBlkDrk);
        border-radius: 0.5rem;
        span {
          color: var(--themeTxtClr);
          font-size: 18px;
        }
      }
    }
  }
}
.chapter {
  margin-bottom: 5em;
  //max-width: 1200px;
  &__header {
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 310px) {
}
@media screen and (min-width: 400px) {
  
  
}
@media screen and (min-width: 481px) {
  
}
@media screen and (min-width: 700px) {
  
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}