@use "_global" as *;
@use "_mixin" as *;

.darkMode {
  @include shadowSm-inset;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: left;
  padding: 3px;
  top: 30px;
  right: 15px;
  width: 50px;
  height: 26px;
  background-color: var(--bgDarkMode);
  border-radius: 70px;
  z-index: 10;
  .dmToggle {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-image: url("img/icon/936949-200.png");
    background-size: contain;
    background-position: center;
  }
}
.darkMode.showDarkMode{
  display: flex;
  animation: darkModeShow 750ms ease-in-out forwards;
}
.dmToggle.darkModeAnim{
  animation: dmAnim 500ms ease-in-out forwards;
}
.dmToggle.darkModeAnimRev{
  animation: dmAnimRev 500ms ease-in-out forwards;
}
.chapter {
  padding-top: 1em;
}
.chapterHeader {
  color: var(--white);
  font-size: 2em;
}
.chapterSubHeader {
  color: var(--white);
  font-size: 1.5em;
  text-align: center;
}
.showBtn {
  margin: 15px auto;
  width: 50%;
  max-width: 500px;
  background: none;
  border-radius: 1rem;
  button {
    @include darkMode;
    cursor: pointer;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: "Audiowide";
    font-size: 14px;
    font-weight: 600;
    color: var(--secondaryClr);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.25rem;
    background-color: var(--secondaryTxt);
    border-radius: 1rem;
  }
}
.btn:hover {
  background-color: var(--secondaryClr);
  color: var(--secondaryTxt);
}
.navBtn {
  z-index: 6;
  position: fixed;
  cursor: pointer;
  &__menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: left;
    //cursor: pointer;
    top: 1.5em;
    left: .75em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    &__btn {
      width: 2.25em;
      height: .24em;
      border-radius: 25%;
      background-color: #C0FFF4;
      box-shadow: 0px 0px 2px var(--black);
    }
    &__btn::after,
    &__btn::before {
      content: "";
      position: absolute;
      width: 2.25em;
      height: .24em;
      border-radius: 25%;
      background-color: var(--secondaryClr);
      box-shadow: 0px 0px 2px var(--secondaryTxt);
      transition: all 0.5s ease-in-out;
    }
    &__btn::before {
      transform: translateY(-.45em);
    }
    &__btn::after {
      transform: translateY(.45em);
    }
  }
}
.siteNav {
  position: fixed;
  width: 100%;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  z-index: 5;
  border: 2px solid var(--bgSecondary);
  background-color: var(--bgFilterDrk);
  max-width: 20em;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      border-right: 2px solid var(--bgSecondary);
      margin: 3px 0px;
      min-width: 5em;
      a {
        display: block;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.25rem;
        padding: 0px 5px;
        font-size: 0.5em;
        font-weight: 600;
        letter-spacing: 0.2em;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px 0px 1px var(--white);
        color: var(--bgSecondary);
      }
      a:active {
        color: var(--black);
      }
      .activePage {
        color: var(--jsThemeClr);
        text-shadow: 0px 0px 2px var(--black);
        font-weight: 700;
        //background-color: var(--bgFilter);
      }
    }
    li:last-child {
      border-right: none;
    }
    li:hover a {
      color: var(--jsThemeClr);
      text-shadow: 0px 0px 2px var(--black);
      //background-color: var(--bgFilter);
    }
  }
}
.siteNav.showNav{
  animation: navBarShow 750ms linear both;
}
.pageNav{
  .pageNav-list {
    position: fixed;
    top: 80px;
    font-family: 'Audiowide';
    text-align: center;
    z-index: 3;
    .cHeader{
      display: none;
      margin-bottom: 15px;
      color: orangered;
      letter-spacing: .15em;
      text-shadow: 0px 0px 3px var(--black);
    }
    .pageNav-listItem {
      margin-bottom: 7px;
      width: calc(7.5vw + 8rem);
      background: none;
      background-color: var(--bgPrimary);
      //border: 2px solid var(--black);
      border-radius: 1rem;
    }
    a {
      @include darkMode;
      display: block;
      width: 100%;
      padding: 0.4rem 0.5rem;
      font-family: "Audiowide";
      font-size: 14px;
      font-weight: 600;
      color: var(--bgSecondary);
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.25rem;
      background-color: var(--bgFilterDrk);
      border-radius: 1rem;
      //text-shadow: 0px 0px 2px var(--white);
    }
    .pageNav-listItem:hover {
      background-color: var(--bgSecondary);
      color: white;
    }
    a:hover{
      color: var(--white);
      box-shadow: none;
    }
    a:active {
      width: 100%;
      font-weight: 600;
      color: var(--black);
    }
  }
}
.pageNav-list .pageNav-listItem {
  display: none; // hide
}
.navBtn__menu.openNav .navBtn__menu__btn {
  background: transparent;
  box-shadow: none;
}
.navBtn__menu.openNav .navBtn__menu__btn::before {
  transform: rotate(45deg);
  background-color: orangered;
}
.navBtn__menu.openNav .navBtn__menu__btn::after {
  transform: rotate(-45deg);
  background-color: orangered;
}
.openNav.pageNav-list .pageNav-listItem,
.openNav.pageNav-list .cHeader{
  /* NEW CLASS FROM JS */
  display: block; // show
}
.openNav {
  .cHeader{
    opacity: 0;
    transform-origin: top center;
    animation: chapterH  1000ms ease-in-out forwards;
  }
  perspective: 1000px;
  .pageNav-listItem {
    opacity: 0;
    transform-origin: top left;
  }
  @for $i from 1 through 8 {
    .pageNav-listItem:nth-child(#{$i}) {
      animation: navBarAn 300ms ease-in forwards;
      animation-delay: (150ms * $i) - 300ms;
    }
  }
}
@keyframes chapterH {
  0%{
opacity: 0;
transform: translateY(-50px);
  }
  100%{
opacity: 1;
transform: translateY(0) ;
  }

}
@keyframes navBarAn {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}
@keyframes navBarShow{
  0%{
    top: -40px;
    opacity: 0;
  }
  100%{
    top: 0px;
    opacity: 1;
  }
}
@keyframes darkModeShow{
  0%{
    scale: 0;
    opacity: 0;
  }
  
  100%{
    scale: 1;
      opacity: 1;
  }
}
@keyframes dmAnim {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(23px);
  }
}
@keyframes dmAnimRev {
  0%{
    transform: translateX(23px);
  }
  100%{
    transform: translateX(0px);
  }
}

@media (min-width: 310px) {
  .featureHeader {
    h1 {
      font-size: 18px;
      span {
        font-size: 28px;
      }
    }
  }
  .navBarSite {
    ul {
      li {
        a {
          //min-width: 65px;
          height: 20px;
          font-size: 0.9em;
        }
      }
    }
  }
}

@media (min-width: 400px) {
  
  .darkMode{
    top: 40px;
    right: 10px;
  }
  .navBarBtn {
    left: 20px;
  }
  .navBarBtn-list{
    top: 115px;
    margin-left: -15px;
  }
  .navBarSite {
    ul {
      li {
        a {
          min-width: 100px;
          height: 20px;
          font-size: 1em;
        }
      }
    }
  }
}
@media (min-width: 550px) {
  .darkMode{
    top: 65px;
  }
  
}
@media (min-width: 700px) {
  .darkMode{
    width: 56px;
    height: 30px;
    .dmToggle{
      width: 25px;
      height: 25px;
    }
  }
  .navBarBtn {
    left: 15px;
    .navBarBtn-menu {
      &__btn {
        width: 40px;
        height: 5px;
      }
      &__btn:before,
      &__btn:after {
        width: 40px;
        height: 5px;
      }
      &__btn::before {
        transform: translateY(-8px);
      }
      &__btn::after {
        transform: translateY(8px);
      }
    }
  }
  .navBarBtn-list {
    top: 82px;
    margin-left: -5px;
    .listItem {
      max-width: 200px;
    }
    .cHeader{
      margin-bottom: 25px;
    }
  }
    .navBarSite {
      max-width: 650px;
      ul {
        li {
          a {
            width: 170px;
            height: 30px;
            font-size: 1.45em;
          }
        }
      }
    }  
}
@media (min-width: 1024px) {
  .navBarBtn-list {
    top: 110px;
    text-align: center;
  }
  .navBarBtn {
    left: 25px;
    top: 25px;
    .navBarBtn-menu {
      width: 75px;
      height: 75px;
      &__btn {
        width: 50px;
        height: 5px;
      }
      &__btn:before,
      &__btn:after {
        width: 50px;
        height: 5px;
      }
      &__btn::before {
        transform: translateY(-10px);
      }
      &__btn::after {
        transform: translateY(10px);
      }
    }
  }
}
@media (min-width: 1200px) {
  .navBarBtn-list {
    top: 105px;
  }
}
